:root {
    /* Font */
    --font-inconsolata: "Inconsolata", monospace, sans-serif;
    

    /* COLORS */

    --bg-color: black;
    --text-color: white;
    --line-table-color: #F0C21F;
    --button-color: #e0b416e1;
    --bg-button-color: #f9c715;
}